<configuration>
  <system.webServer>
  <httpErrors errorMode="Detailed">
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeServer" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="server/index.js" />
          <action type="Rewrite" url="server/index.js" />
        </rule>
        <rule name="NextJsRouting" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server/index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" />
    </httpErrors>
    <customErrors mode="Off" />
  </system.webServer>
</configuration>